{% extends 'baseAdmin.html.twig' %}
{% block container %}
    <br>
    <br>
    <br>
    <table id="tableac" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Cin</th>
            <th>email</th>
            <th>Telephone</th>
            <th>Deleted</th>
            <th>Bloqued</th>
        </tr>
        </thead>
        <tbody>
        <h2>Chercher Personnel!</h2>
        <input type="text" id="search" placeholder="Search  ...">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        {% set val = 0 %}
        {% set nbblock = 0 %}
        {% for remove in removes %}
            {% set val = 0 %}
            {% set nbblock = 0 %}
            <tr>
                <td>{{ remove.user.id}}</td>
                <td>{{ remove.user.username}}</td>
                <td>{{ remove.user.cin}}</td>
                <td>{{ remove.user.email}}</td>
                <td>{{ remove.user.numeroTelephone}}</td>
                <td>{{ remove.nbdelete }}</td>
                <td>
                    {% for b in blocks %}
                    {% if b.user.id == remove.user.id %}
                        {% set nbblock = nbblock + 1 %}
                    {% endif %}
                    {% endfor %}
                    {{ nbblock }}
                </td>
                <td><a TYPE="submit"  href="{{path('block',{'id':remove.user.id})}}" onclick="return confirm('bloquer ?')"><button>bloque</button></a></td>
                <td><a TYPE="submit"  href="" onclick="return confirm('envoyer un avertissement à cet utilisateur ?')" ><button>alert</button></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}