{% extends 'baseClient.html.twig' %}
{% block container %}
    <!DOCTYPE html>
    <html lang="en" >
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('css/Question.css') }}">
    <body>
    <html>
    <head>
        <meta name="viewport" content= "width=device-width, initial-scale=1">
        <meta name="theme-color" content="#B71C1C">
        <link rel="stylesheet" href="{{ asset('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css') }}">
        <script src='{{ asset('https://cdn.firebase.com/js/client/2.2.1/firebase.js') }}'></script>
    </head>
    <body>
    <div class="allholder">
        <div class="navoverlay"></div>
        <div id="content">
            <h2 class="title__line">SORT BY</h2>
            <div class="btn btn-success" >{{ knp_pagination_sortable(questions, 'Date' , 'date')}}</div>
            <div class="btn btn-success" >{{ knp_pagination_sortable(questions, 'Most Liked' , 'like')}}</div>
            <div class="feed">
                {% set ok = 0  %}
                {% set ok1 = 0  %}
                {% set com = 0 %}
                {% set nblike =0 %}
                {% for i in questions %}
                    {% set nblike =0 %}
                    {% set ok = 0  %}
                    {% set ok1 = 0  %}
              {% if i.user.id == app.user.id %}
                    <div class="feed-item blog">
                        <div class="icon-holder"><h6>
                                {% set datePost = i.date|date('d-m-Y') %}
                                {% set today = "now"|date('d-m-Y') %}
                                {% set difference = date(today).diff(date(datePost))%}
                                {% set leftDays = difference.days %}
                                {% if datePost == today %}
                                    1 day
                                {% else %}
                                    {{ leftDays }} days ago
                                {% endif %}
                            </h6></div>
                        <div class="text-holder col-3-5">
                            <div class="feed-title">{{ i.quest }}</div>
                            <div class="feed-description">{{ i.descr }}</div>
                            <div class="feed-description">
                                <a href="{{ path("readrep",{'id':i.id}) }}">see more</a>
                                {% for j in reponses %}
                                    {% if j.question.id == i.id %}
                                        {% set com = com+1 %}
                                    {% endif %}
                                {% endfor %}
                                reponses : {{ com }}
                                {% set com = 0 %}
                                {% if i.user.id == app.user.id %}
                                    <a href="{{ path("delete",{'id':i.id}) }}" class="btn btn-success">DELETE</a>
                                    <a href="{{ path("update",{'id':i.id}) }}" class="btn btn-success">UPDATE</a>
                                {% endif %}
                                {% for report in reports %}
                                    {% if report.question == i %}
                                        {% if report.user.id == app.user.id %}
                                        {% endif %}
                                        {% set ok = 1  %}
                                    {% endif %}
                                {% endfor %}
                                {% for like in likes %}
                                    {% if like.question == i %}
                                        {% set nblike = nblike + 1 %}
                                        {% if like.user.id == app.user.id %}
                                            {% set ok1 = 1  %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {% if i.user.id != app.user.id and ok == 0 %}
                                    <a href="{{ path("report",{'id':i.id}) }}" id="rep" class="btn btn-success">report</a>
                                {% endif %}
                                {% if i.user.id != app.user.id and ok1 == 0 %}
                                    <a href="{{ path("like",{'id':i.id}) }}" id="like" class="btn btn-success">like</a>
                                {% endif %}
                                {% if ok1 != 0 %}
                                    <a href="{{ path("like",{'id':i.id}) }}" id="like" class="btn btn-success">unlike</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="post-options-holder">
                            <div class= "tools">
                                {% if i.nbrVue == null %}
                                    <h6>seen 0</h6>
                                {% else %}
                                    <h6>seen {{ i.nbrVue }}</h6>
                                {% endif %}
                                <h6> vote {{i.vote}}</h6>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div><!--end of Feed-->
        </div><!-- End of Content-->
        {{form(form)}}
        <div class="pagination">
            {{ knp_pagination_render(questions) }}
        </div>
    </div><!--end of allholder-->
    <div id="plus" class="fc-button"><i class="fa fa-pencil fa-lg icon"></i></div>
    </div>
    <div id="activityform">
        <div id="formHolder">
            <form action="" id="newActivity">
            </form>
        </div>
    </div>

    </body>
    </html>
    <script src='{{ asset('https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js') }}'></script>
    <script src='{{ asset('https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js') }}'></script><script  src="{{ asset('js/Question.js') }}"></script>
    </body>
    </html>
{% endblock %}