{% extends 'baseClient.html.twig' %}

{% block container %}
    <!DOCTYPE html>
    <html lang="en" >
    <head>
        <meta charset="UTF-8">
        <script src="https://use.fontawesome.com/c334c419c0.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'><link rel="stylesheet" href="{{ asset('css/style1.css') }}">

    </head>
    <style>
        .checked {
            color: orange;
        }
    </style>
    <body>
    <ol class="activity-feed">
        <li class="feed-item" data-content="&#xf27b;" data-color="blue">
            <section>
                {% set star = 0 %}
                {% set j = 0 %}
                <input type="checkbox" id="{{ i.decr }}" name="expand_1" />
                <label for="{{ i.decr }}">
                    {% for avi in avis %}
                        {% if avi.reponse == i %}
                            {% set star = star+avi.avis %}
                            {% set j = j+1 %}
                        {% endif %}
                    {% endfor %}
                    {% if star == 0 %}
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    {% elseif star/j < 1 or star/j == 1 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    {% elseif star/j > 1 and star/j <= 2  %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    {% elseif star/j > 2 and star/j <= 3  %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    {% elseif star/j > 3 and star/j <= 4  %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                    {% else %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    {% endif %}
                    <p><b>{{ i.decr }}</b></p>
                    <a href="{{ path("readd",{'id':i.id}) }}">see more</a>
                    {% if i.user.id == app.user.id %}
                        <a href="{{ path("deleterep",{'id':i.id}) }}">delete</a>
                        <a href="{{ path("updaterep",{'id':i.id}) }}">update</a>
                    {% endif %}
                </label>
            </section>
        </li>
        {{ form(form) }}
    </ol>
    <script  src="{{ asset('css/style1.css') }}"></script>
    </body>
    </html>
{% endblock %}