{% extends 'baseAdmin.html.twig' %}
{% block container %}
    <style>
           table {
               width:100%;
           }
        table, th, td1,td2 {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td1,td2{
            padding: 15px;
            text-align: left;
        }
        table#t01 tr:nth-child(even) {
            background-color: #eee;
        }
        table#t01 tr:nth-child(odd) {
            background-color: #fff;
        }
        table#t01 th {
            background-color: black;
            color: white;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{{ asset('public/css/rating.css') }}" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="{{ asset('public/js/rating.js') }}"></script>

<div >
<h1 align="center">Liste des Animaux</h1>
<table  border="2" align="center">
    <tr >
        <th>Nom</th>
        <th>Description</th>
        <th>Image</th>
        <th>Modifer</th>
        <th>Supprimer</th>


    </tr >
    {% for An in annimal %}
        <tr>
            <td>
                {{ An.nomAnnimal }}
            </td>
            <td>
                {{ An.description  }}
            </td>
            <td><img src="{{ asset(An.image)  }}" style="width: 40px; height: 40px"></td>
            <td width="10" align="center">
                <a href="{{ path('updateanimal',{'id':An.id}) }}"> <img style="width: 40px; height: 40px"  src="{{ asset ("img/modifier.jpg") }}" alt="update" /></a>
            </td>

            <td width="10" align="center">
                <a href="{{ path('supanimal',{'id':An.id}) }}"><img style="width: 40px; height: 40px" align="center" src="{{ asset ("img/suprimer.png") }}" alt="suprimer" /></a>
            </td>

            {# <td><a href="">Supprimer</a></td> #}

        </tr>

    {% endfor %}
</table>
</div>
{% endblock %}